{% extends 'base.html' %}
{% block title %}Carrito{% endblock %}

{% block content %}
<h1 class="mb-4">Carrito de Compras</h1>
{% if carrito %}
  <ul class="list-group mb-3">
    {% for item in carrito %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ item.producto.nombre }} (x{{ item.cantidad }})
        <span>S/. {{ item.producto.precio * item.cantidad }}</span>
      </li>
    {% endfor %}
  </ul>
  <h5>Total: S/. {{ total }}</h5>
  <a href="{{ url_for('vaciar') }}" class="btn btn-danger">Vaciar Carrito</a>
{% else %}
  <p>No hay productos en el carrito.</p>
{% endif %}
{% endblock %}
